version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(message)s'

handlers:
  file:
    class: logging.handlers.RotatingFileHandler
    formatter: precise
    filename: /data/homeserver.log
    maxBytes: 104857600
    backupCount: 3
  console:
    class: logging.StreamHandler
    formatter: precise

loggers:
  synapse:
    level: INFO
  synapse.storage.SQL:
    level: INFO

root:
    level: INFO
    handlers: [file, console]
